<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCTV Footage Page</title>
    <link rel="stylesheet" href="static/CCTV_footage.css">
</head>

<body>
    <div class="container">
        <div class="container-1">
            <div class="btn"><a href="#">Gomti Nagar</a></div>
            <div class="btn"><a href="#">Gomti Nagar Extension</a></div>
        </div>
        <div class="container-2">
            <div class="btn"><a href="#">Jankipuram Extension</a></div>
            <div class="btn"><a href="#">Jankipuram</a></div>
        </div>
        <div class="container-3">
            <div class="btn"><a href="#">Indira Nagar</a></div>
            <div class="btn"><a href="#">Indira Nagar Extension</a></div>
        </div>
    </div>
</body>

</html>