<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <style>
        .google-map {
     padding-bottom: 50%;
     position: relative;
     /* width: 60%;
     height: 40%; 
    margin-left: 250px;
    padding-top: 20px;*/
}

.google-map iframe {
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     position: absolute;
}
    </style>
</head>
<body>
    <!-- <h2>Google map</h2> -->
    <div class="google-map">
        <iframe src="static/crime.png" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div>

 </body>
 </html>